cohere==4.37
googletrans==4.0.0-rc1
feedparser
requests
markdown2
beautifulsoup4
wikipedia
Flask-SQLAlchemy
Flask
youtube-transcript-api
article-parser==1.6.0
html2text
python-dotenv
trafilatura==2.0.0
googletrans==4.0.0-rc1
httpx==0.13.3
legacy-cgi
scikit-learn
waitress