.message {
    padding: 10px;
    border-radius: 5px;
  }
  
.success {
    background-color: #dff0d860;
    border-color: #d0e9c6;
    color: #3c763d;
  }
  
.error {
    background-color: #f2dede60;
    border-color: #ebccd1;
    color: #a94442;

  }


  #flash-messages {
    position: fixed;
    bottom: 10%;
    left: calc(50% - 25vw);
    width: 50vw;
    max-width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0) ;
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 10px;
    z-index: 10;
    opacity: 1;
    transition: all .4s;
    animation: delete 2s 5s linear forwards;
    }

@keyframes delete {
  0% {opacity: 1;}
  100% {opacity: 0;
        display: none;}
}
