:root[data-theme="light"] {

  --text: #050315;
  --bg: #e7e7ff;
  --primary: #8580dd;
  --secondary: #dedcff;
  --accent: #a09de9;
  --box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);

  --static: rgba(225, 225, 225, 0.5);
  --static4: rgba(225, 225, 225, 0.2);
  --static3: rgb(255, 255, 255);
  --static2: #0f0f0f;
  --static5: rgb(24, 172, 122);
  --static6: rgba(0, 0, 0, 0.05);
  --static7: rgba(0, 0, 0, 0.1);
  --static8: rgba(0, 0, 0, 0.05);
  --static9: rgba(0, 0, 0, 0.3);
  --static10: rgba(225, 225, 225);
  --static11: rgba(0, 0, 0, 0.03);
  --static12: rgba(255, 255, 255, 0.8);
  --static13: rgb(235, 235, 235);
  --static14: rgba(0, 0, 0, 0.2);
  --static15: rgba(255, 255, 255, 0.5);

  --textcontrast: #000000;
  --bgcontrast: #000000;
  --secondarycontrast: #000000;
  --primarycontrast: #000000;
  --accentcontrast: #000000;

  --text5: #180202;
  --text10: #180202;
  --text20: #180202;
  --text30: #180202;
  --text40: #180202;
  --text50: #180202;
  --text60: #180202;
  --text70: #180202;
  --text80: #180202;
  --text90: #180202;
  --text95: #180202;

  --bg5: #fafafa;
  --bg10: #fafafa;
  --bg20: #fafafa;
  --bg30: #fafafa;
  --bg40: #fafafa;
  --bg50: #fafafa;
  --bg60: #fafafa;
  --bg70: #fafafa;
  --bg80: #fafafa;
  --bg90: #fafafa;
  --bg95: #fafafa;

  --primary5: #ff6d4d;
  --primary10: #ff6d4d;
  --primary20: #ff6d4d;
  --primary30: #ff6d4d;
  --primary40: #ff6d4d;
  --primary50: #ff6d4d;
  --primary60: #ff6d4d;
  --primary70: #ff6d4d;
  --primary80: #ff6d4d;
  --primary90: #ff6d4d;
  --primary95: #ff6d4d;

  --secondary5: #e6e6e5;
  --secondary10: #e6e6e5;
  --secondary20: #e6e6e5;
  --secondary30: #e6e6e5;
  --secondary40: #e6e6e5;
  --secondary50: #e6e6e5;
  --secondary60: #e6e6e5;
  --secondary70: #e6e6e5;
  --secondary80: #e6e6e5;
  --secondary90: #e6e6e5;
  --secondary95: #e6e6e5;

  --accent5: #d12600;
  --accent10: #d12600;
  --accent20: #d12600;
  --accent30: #d12600;
  --accent40: #d12600;
  --accent50: #d12600;
  --accent60: #d12600;
  --accent70: #d12600;
  --accent80: #d12600;
  --accent90: #d12600;
  --accent95: #d12600;


}


:root[data-theme="dark"] {

  --text: #fbfbfe;
  --bg: #050315;
  --primary: #3c35b8;
  --secondary: #2d2a6b;
  --accent: #413cd1;
  --box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.2);

  --static: rgba(0, 0, 0, 0.5);
  --static4: rgba(225, 225, 225, 0.2);
  --static3: rgb(22, 22, 22);
  --static2: rgb(240, 240, 240);
  --static5: rgb(24, 172, 122);
  --static6: rgba(255, 255, 255, 0.15);
  --static7: rgba(255, 255, 255, 0.1);
  --static8: rgba(255, 255, 255, 0.05);
  --static9: rgba(255, 255, 255, 0.3);
  --static10: rgb(40, 40, 40);
  --static11: rgba(255, 255, 255, 0.03);
  --static12: rgba(0, 0, 0, 0.8);
  --static13: rgb(40, 40, 40);
  --static14: rgba(255, 255, 255, 0.2);
  --static15: rgba(0,0,0, 0.5);

  --textcontrast: #000000;
  --bgcontrast: #000000;
  --secondarycontrast: #000000;
  --primarycontrast: #000000;
  --accentcontrast: #000000;

  --text5: #180202;
  --text10: #180202;
  --text20: #180202;
  --text30: #180202;
  --text40: #180202;
  --text50: #180202;
  --text60: #180202;
  --text70: #180202;
  --text80: #180202;
  --text90: #180202;
  --text95: #180202;

  --bg5: #fafafa;
  --bg10: #fafafa;
  --bg20: #fafafa;
  --bg30: #fafafa;
  --bg40: #fafafa;
  --bg50: #fafafa;
  --bg60: #fafafa;
  --bg70: #fafafa;
  --bg80: #fafafa;
  --bg90: #fafafa;
  --bg95: #fafafa;

  --primary5: #ff6d4d;
  --primary10: #ff6d4d;
  --primary20: #ff6d4d;
  --primary30: #ff6d4d;
  --primary40: #ff6d4d;
  --primary50: #ff6d4d;
  --primary60: #ff6d4d;
  --primary70: #ff6d4d;
  --primary80: #ff6d4d;
  --primary90: #ff6d4d;
  --primary95: #ff6d4d;

  --secondary5: #e6e6e5;
  --secondary10: #e6e6e5;
  --secondary20: #e6e6e5;
  --secondary30: #e6e6e5;
  --secondary40: #e6e6e5;
  --secondary50: #e6e6e5;
  --secondary60: #e6e6e5;
  --secondary70: #e6e6e5;
  --secondary80: #e6e6e5;
  --secondary90: #e6e6e5;
  --secondary95: #e6e6e5;

  --accent5: #d12600;
  --accent10: #d12600;
  --accent20: #d12600;
  --accent30: #d12600;
  --accent40: #d12600;
  --accent50: #d12600;
  --accent60: #d12600;
  --accent70: #d12600;
  --accent80: #d12600;
  --accent90: #d12600;
  --accent95: #d12600;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with full transparency */
  }
  100% {
    opacity: 1; /* End with full opacity */
  }
}

body{
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text);
  scroll-behavior: smooth;
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: backwards;
  transition: all 0.5s ease;
}

h1 {
  margin-top: 70px;
  text-align: center;
  z-index: 10;
}

.feed-entry {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.feed-entry img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

img[src] {
  max-width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}

#sort-by button, .container button, button{
  margin: 5px;
  border-radius: 50px;
  background-color: var(--accent) ;
  border: 1px solid black;
  border-color: black;
  padding: 5px 15px;
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

select[name="sort_order"] {
  border: 1px solid black;
  color: #000000;
}

select[name="lang"] {
  border: 1px solid black;
  color: #000000;
}

.btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--text);
}

.btn-sm {
  font-size: 12px;
}

.btn-danger{
  border: none;  
}

.btn-danger:hover {
  background-color: var(--accent);
  border: none;
  transition: all 0.5s ease ;
}

#sort-by button:hover, .container button:hover, button:hover {
  transform: translateY(-2px);
  box-shadow: var(--bg);
  color: black;
  border-color: #000000;
  animation: movecolors 5s infinite alternate;
  transition: all 0.5s ease ;
  box-shadow: black;
}

@keyframes movecolors {
  0% {background-color: var(--accent);}
  100% {background-color: var(--primary);}
}

select, select option {
  background-color: var(--accent);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--text);
}

