:root[data-theme="light"] {

  --text: #050315;
  --bg: #e7e7ff;
  --primary: #8580dd;
  --secondary: #dedcff;
  --accent: #a09de9;
  --box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);

}


:root[data-theme="dark"] {

  --text: #fbfbfe;
  --bg: #050315;
  --primary: #3c35b8;
  --secondary: #2d2a6b;
  --accent: #413cd1;
  --box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.2);

}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with full transparency */
  }
  100% {
    opacity: 1; /* End with full opacity */
  }
}

body{
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text);
  scroll-behavior: smooth;
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: backwards;
  transition: all 0.5s ease;
}

h1 {
  margin-top: 70px;
  text-align: center;
  z-index: 10;
}

.feed-entry {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.feed-entry img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

img[src] {
  max-width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}

#sort-by button, .container button, button{
  margin: 5px;
  border-radius: 50px;
  background-color: var(--accent) ;
  border: 1px solid black;
  border-color: black;
  padding: 5px 15px;
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

select[name="sort_order"] {
  border: 1px solid black;
  color: #000000;
}

select[name="lang"] {
  border: 1px solid black;
  color: #000000;
}

.btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--text);
}

.btn-sm {
  font-size: 12px;
}

.btn-danger{
  border: none;  
}

.btn-danger:hover {
  background-color: var(--accent);
  border: none;
  transition: all 0.5s ease ;
}

#sort-by button:hover, .container button:hover, button:hover {
  transform: translateY(-2px);
  box-shadow: var(--bg);
  color: black;
  border-color: #000000;
  animation: movecolors 5s infinite alternate;
  transition: all 0.5s ease ;
  box-shadow: black;
}

@keyframes movecolors {
  0% {background-color: var(--accent);}
  100% {background-color: var(--primary);}
}

select, select option {
  background-color: var(--accent);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--text);
}

