#content {
    width: calc(100% - 50vh); /* Adjust content width to accommodate the sidebar */
    padding: 20px;
    transition: all 0.3s;
    position: absolute;
    top: 60px; /* Adjust top position to avoid overlapping with the sidebar */
    right: 0;
  }
  
.subscribed-websites {
    padding: 20px;
  }
  
.subscribed-websites h2 {
    margin-bottom: 20px;
  }
  
.subscribed-websites ul {
    list-style-type: none;
    padding: 0;
  }
  
.subscribed-websites li {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
#subscribed-article-icon {
    max-width: 50px;
    margin-bottom: 10px;
  }

  .feed-list {
    list-style-type: none;
    padding: 0;
}

.feed-item {
    margin-bottom: 20px;
    border: 1px solid var(--text);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-content {
    display: flex;
    align-items: center;
}

.feed-icon {
  width: 50px; /* Set the desired constant width */
  height: 50px; /* Set the desired constant height */
  margin-right: 10px;
}

.feed-icon-placeholder {
    margin-right: 10px;
}

.feed-actions {
    display: flex;
    flex-direction: column;
}

.feed-link {
    margin-bottom: 5px;
    color: var(--secondary);
    text-decoration: underline;
}
