#sidebar {
    opacity: 0;
    width: 50vh;
    position: fixed;
    top: 60px; /* Adjust the top position to display below the navbar */
    left: -70vh;
    height: calc(100vh - 60px); /* Subtract navbar height from the viewport height */
    z-index: 999;
    background: rgba(255, 255, 255, 0.445);
    color: #000000;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    overflow-y: scroll;
    resize: horizontal;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Apply blur effect */
  }
  
#sidebar.active {
    backdrop-filter: blur(10px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
    transition: left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 0;
  }
  
#content {
    width: calc(100% - 50vh); /* Adjust content width to accommodate the sidebar */
    padding: 20px;
    transition: all 0.3s;
    position: absolute;
    top: 60px; /* Adjust top position to avoid overlapping with the sidebar */
    right: 0;
  }

  /* Sidebar Close button */
#sidebarClose {
    float: right;
}

.sidebar-header {
    border-radius: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.445);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Apply blur effect */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.subscribed-websites {
    padding: 20px;
  }
  
.subscribed-websites h2 {
    margin-bottom: 20px;
  }
  
.subscribed-websites ul {
    list-style-type: none;
    padding: 0;
  }
  
.subscribed-websites li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6c757d;
  }
  
.subscribed-websites li:last-child {
    border-bottom: none;
  }
  
#subscribed-article-icon {
    max-width: 50px;
    margin-bottom: 10px;
  }