#sidebar {
    opacity: 0;
    width: 50vh;
    position: fixed;
    top: 0;
    left: -70vh;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #000000;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    overflow-y: scroll;
    resize: horizontal;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  
#sidebar.active {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
    transition: left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 0;
  }
  
#content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* Sidebar Close button */
#sidebarClose {
    float: right;
}

.sidebar-header {
    padding: 20px;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.subscribed-websites {
    padding: 20px;
  }
  
.subscribed-websites h2 {
    margin-bottom: 20px;
  }
  
.subscribed-websites ul {
    list-style-type: none;
    padding: 0;
  }
  
.subscribed-websites li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6c757d;
  }
  
.subscribed-websites li:last-child {
    border-bottom: none;
  }
  
#subscribed-article-icon {
    max-width: 50px;
    margin-bottom: 10px;
  }