
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.feed-entry {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.feed-entry img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-active {
  background-color: #28a745;
  color: #fff;
}

.btn-inactive {
  background-color: #ccc;
  color: #555;
}

img[src] {
  max-width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}

/* Custom CSS for horizontal display of subscribed websites */
.subscribed-websites ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Use flexbox */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}

.subscribed-websites li {
  margin-right: 10px;
}

.subscribed-websites img {
  width: 100px; /* Set the width of the website icons */
  height: auto;
}

.popup {
  display: none; /* Hide the popup by default */
  position: fixed; /* Position the popup */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
}

.popup-content {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the popup */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.list-group-item {
  color: #000000;
  background-color: #ffffff;
}
.full-content{
  display: none;
}

#subscribed-article-icon {
  border-radius: 50px;
  max-width: 50px;
  margin: 5px;
}