<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Fast Feed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='rss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='horizontal-list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='linear-rainbow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scrolltotop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flash-messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='recommendation.css') }}">

</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">FAST FEED</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/youtube">Youtube</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wikipedia">Wikipedia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="add_articles">Add Feed</a>
            </li>
        </ul>
    </nav>

    <div class="buttons-container">
        <div class="buttons-container-column">
            <ul>
            <li>
                <form action="/refresh" method="get">
                    <button type="submit">Refresh Articles</button>
                </form>
            </li>
            <li>
                <form action="/summarize" method="get">
                    <button type="submit">Summarize Articles</button>
                </form>
            </li>
            <li>
                <button id="themeToggle">Toggle Theme</button>
            </li>
            </ul>
        </div>
    </div>  
<div class="container">
    <h1 style="padding-top: 5vh;">Information Made Simpler<div class="animated-border"></div></h1>
    <div id="back-to-top-div"> <button id="back-to-top" title="Back to Top">&#8593;</button></div>

    <div id="popup" class="popup">
        <div id="popup" class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>Add a RSS link here</p>
            <form action="/add" method="post" >
                <div class="input-group-popup">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="text" name="title" class="form-popup" placeholder="Enter Title Here" >
                    <input type="text" name="url" class="form-popup" placeholder="Enter RSS Feed URL" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                                <form action="{{ url_for('main.add_opml_file') }}" method="post" enctype="multipart/form-data">
                
                <label for="file" style="display: block; text-align: center; margin-top: 2px;">OR</label><br>
                <label for="file">Choose an OPML file to upload:</label><br>
                <input type="file" id="file" name="file" accept=".opml,.xml,.txt" required><br><br>
                <input type="submit" value="Upload">
                </form>
                </div>
            </form>


        </div>
    </div>

    <!-- <div id="content-type">
        <label for="toggleMode">Default Display Mode:</label>
        <select id="toggleMode">
            <option value="short">Short Description</option>
            <option value="full">Full Content</option>
            <option value="summary">Summarized Content</option>
        </select>
    </div> -->

    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% for article in articles if not article.is_starred %}
    <div class="article">
    <h4>{{ article.title }}</h4>
        <div class="similarity">
            Relevance: {{ "%.1f"|format(article.similarity_score * 100) }}%
        </div>
    </div>
    {% endfor %}
    <!-- <button id="scrollUp">Scroll Up</button>
    <button id="scrollDown">Scroll Down</button> -->
    <!-- Section to list subscribed websites -->
    <div class="subscribed-websites-main">
        <h2>Subscribed Websites</h2>
            <div class="horizontal-list">
            <ul>
                {% for feed in feeds %}
                <li>
                    <div class="feed-item">
                        <h4>{{ feed.website_name }}</h4>
                        {% if feed.icon %}
                        <img id="subscribed-article-icon" src="{{ feed.icon }}" alt="Website Icon">
                        {% else %}
                        <p>Icon</p>
                        {% endif %}
                        <a href="/delete/{{ feed.id }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> <!-- Font Awesome delete icon -->
                            Delete
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="scroll-container" id="container">
        <!-- Content will be dynamically loaded here -->
    </div>
    
    {% set nonzero_count = recommendation | selectattr("similarity_score", "ne", 0) | list | length %}
    {% if nonzero_count > 0 %}
      <div class="rec-container my-4">
          <!-- Recommendations Section -->
          <h2 class="rec-header">Recommended Articles</h2>
          <div class="rec-horizontal-scroll mb-5">
            {% for article in recommendation %}
              <div class="rec-card" style="min-width: 18rem;">
                <div class="rec-card-body">
                        {% if article.similarity_score * 100 > 50 %}
                          <div class="rec-status rec-status-super-high">Must Read</div>
                        {% elif article.similarity_score * 100 > 40 %}
                          <div class="rec-status rec-status-high">Highly Recommended</div>
                        {% elif article.similarity_score * 100 > 30 %}
                          <div class="rec-status rec-status-medium">Recommended</div>
                        {% elif article.similarity_score * 100 > 20 %}
                          <div class="rec-status rec-status-low">Somewhat Recommended</div>
                        {% else %}
                          <div class="rec-status rec-status-very-low">Barely Recommended.</div>
                        {% endif %}
                        <!-- Rest of your card content (title, links, etc.) goes here -->
                      
                  <h3>
                    <a style="color: black; text-decoration: wavy;" href="/link/{{ article.link }}">
                      {{ article.title }}
                    </a>
                  </h3>
                  <p style="color: black;">By {{ article.author }}</p>
                  <p style="font-style: italic;color: black;">{{ article.date | format_datetime }}</p>
                  <!-- <p class="rec-card-text">
                    <a class="rec-link" href="{{ article.link }}" target="_blank">{{ article.link }}</a>
                  </p>
                  <p class="rec-card-text">
                    <small class="rec-text-muted">
                      Score: {{ "%.1f"|format(article.similarity_score * 100) }}%
                    </small>
                  </p> -->
                </div>
              </div>
            {% else %}
              <p class="rec-no-articles">No recommended articles available.</p>
            {% endfor %}
          </div>
      </div>
    {% endif %}

    <!-- <div id="width-controls">
        <button id="decrease-width-btn">Decrease Width</button>
        <input type="text" id="width-input" placeholder="Enter Width (px)">
        <button id="increase-width-btn">Increase Width</button>
    </div> -->
    <div id="sort-by">
        <form action="{{ url_for('main.index')}}" method="POST" onsubmit="saveScrollPosition()">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" name="sort_by" value="datetime">Sort by Date</button>
            <button type="submit" name="sort_by" value="link">Sort by Link</button>
            <button type="submit" name="sort_by" value="title">Sort by Title</button>
            <button type="submit" name="sort_by" value="simi">Sort by Similarity</button>
            <select name="sort_order">
                <option value="asc" {% if session.get('sort_order', 'desc') == 'asc' %}selected{% endif %}>Ascending</option>
                <option value="desc" {% if session.get('sort_order', 'desc') == 'desc' %}selected{% endif %}>Descending</option>
            </select>
        </form>
    </div>
      
    <!-- List of articles -->
<div id="articles-list" class="resizable">
    <ul class="list-group mt-4">
        {% for entry in sorted_entries %}
            <li style="background-color: var(--primary);" class="list-group-item">
                <!-- Other content omitted for brevity -->
                <h3><a style="color: black; text-decoration:wavy;" href="/link/{{ entry.link }}">{{ entry.title }}</a></h3>
                <p style="font-style: italic;color: black;">{{ entry.date | format_datetime }}</p>
                <p style="color: black;">By {{ entry.author }}</p>
                <p style="color: black;"><a style="color: black;" href="{{ entry.link }}" target="_blank">{{ entry.link }}</a></p>
                <!-- <p id="similarity-{{ entry.id }}" style="color: black;">{{ "%.1f"|format(entry.similarity_score * 100) }}</p> -->
                <!-- <p>Feed ID: {{ entry.feed_id }}</p> -->
                <!-- <p>Account ID: {{ entry.account_id }}</p> -->
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary toggle-unread" data-entry-id="{{ entry.id }}">
                        {% if entry.is_unread %}
                            <i class="fas fa-envelope-open-text"></i>
                        {% else %}
                            <i class="far fa-envelope"></i>
                        {% endif %}
                    </button>
                    
                    <button class="btn btn-secondary toggle-starred" data-entry-id="{{ entry.id }}">
                        {% if entry.is_starred %}
                            <i class="fas fa-star"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif %}
                    </button>
                    
                    <button class="btn btn-secondary toggle-read-later" data-entry-id="{{ entry.id }}">
                        {% if entry.is_read_later %}
                            <i class="fas fa-bookmark"></i>
                        {% else %}
                            <i class="far fa-bookmark"></i>
                        {% endif %}
                    </button>
                    
                    <button class="btn btn-primary copy-btn">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

    <!-- Material-UI JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='rss.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='copy.js') }}"></script>
    <script src="{{ url_for('static', filename='scrolltotop.js') }}"></script>
    <script src="{{ url_for('static', filename='buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='scrollposition.js') }}"></script>

</body>
</html>
