<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS Reader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='rss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='horizontal-list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='linear-rainbow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">

</head>
<body>

    <nav class="navbar">
        <div class="container">
            <button id="sidebarToggle" id="sidebar-toggler" class="btn btn-success">
                &#9776; <!-- This is the Unicode character for the hamburger icon -->
            </button>
            <a class="navbar-brand" href="#">RSS Feed Manager</a>
            <ul class="navbar-nav" id="navbarNav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="add_articles">Add Feed</a>
                </li>
                <li class="nav-item">
                    <form action="/refresh" method="get">
                        <button type="submit" class="btn btn-success">Refresh Articles</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

<div class="container">
    <h1> RSS Reader<div class="animated-border"></div></h1>
    <form action="/refresh" method="get">
        <button type="submit">Refresh Articles</button>
    </form>
    <form action="/summarize" method="get">
        <button type="submit">Summarize Articles</button>
    </form>

    <div id="popup" class="popup">
        <div id="popup" class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>Add a RSS link here</p>
            <form action="/add" method="post" class="mb-4">
                <div class="input-group">
                    <input type="text" name="url" class="form-control" placeholder="Enter RSS Feed URL" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="content-type">
        <label for="toggleMode">Default Display Mode:</label>
        <select id="toggleMode">
            <option value="short">Short Description</option>
            <option value="full">Full Content</option>
            <option value="summary">Summarized Content</option>
        </select>
    </div>
    <div id="sort-by">
        <form action="{{ url_for('index')}}">
            <button type="submit" name="sort_by" value="datetime">Sort by Date</button>
            <button type="submit" name="sort_by" value="link">Sort by Link</button>
            <button type="submit" name="sort_by" value="title">Sort by Title</button>
        </form>
    </div>

    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Section to list subscribed websites -->
    <div class="subscribed-websites-main">
        <h2>Subscribed Websites</h2>
        <ul class="horizontal-list">
            {% for feed in feeds %}
            <li>
                <div class="feed-item">
                    <h4>{{ feed.website_name }}</h4>
                    {% if feed.icon %}
                    <img id="subscribed-article-icon" src="{{ feed.icon }}" alt="Website Icon">
                    {% else %}
                    <p>Icon</p>
                    {% endif %}
                    <a href="/delete/{{ feed.id }}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> <!-- Font Awesome delete icon -->
                        Delete
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    

    <div id="sidebar">
        <div class="sidebar-header">
            <h3>Subscribed Websites</h3>
            <button id="sidebarClose" class="btn btn-danger">
                <i class="fas fa-times"></i> <!-- Font Awesome 'X' icon -->
            </button>
        </div>
        <div class="subscribed-websites">
            <!-- Section to list subscribed websites -->
            <ul class="feed-list">
                {% for feed in feeds %}
                <li class="feed-item">
                    <div class="feed-content">
                        {% if feed.icon %}
                        <img class="feed-icon" src="{{ feed.icon }}" alt="Website Icon">
                        {% else %}
                        <p class="feed-icon-placeholder">Icon</p>
                        {% endif %}
                        <div class="feed-info">
                            <h4>{{ feed.website_name }}</h4>
                            <p>{{ feed.url }}</p>
                        </div>
                    </div>
                    <div class="feed-actions">
                        <a href="/delete/{{ feed.id }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>            
        </div>
    </div>

    <!-- List of articles -->
<div id="articles-list">
    <ul class="list-group mt-4">
        {% for feed in feeds %}
            {% for entry in feed_contents[feed.id] %}
                <li class="list-group-item">
                    <h3>{{ entry.title }}</h3>
                    <p>Date: {{ entry.date }}</p>
                    <p>Author: {{ entry.author }}</p>
                    <h2>Content:</h2>
                    <!-- Added a class for Contents -->
                    <div class="short-description">{{ entry.short_description | safe}}</div>
                    <div class="full-content" >{{ entry.full_content | safe}}</div>
                    <h2>Summary:</h2>
                    <!-- Added a class for Summarized content -->
                    <div class="summarized-content">
                        {% if entry.summarized_content %}
                            {{ entry.summarized_content | safe }}
                        {% else %}
                            <p>No summarized content available. You can Click on Summarized Article button to Generate a summary. </p>
                        {% endif %}
                    </div>
                    {% if entry.img %}
                        <img src="{{ entry.img }}" alt="Image" class="img-fluid">
                    {% endif %}
                    <p>Link: <a href="{{ entry.link }}" target="_blank">{{ entry.link }}</a></p>
                    <p>Feed ID: {{ entry.feed_id }}</p>
                    <p>Account ID: {{ entry.account_id }}</p>
                    <div class="btn-group" role="group">
                        <form action="/toggle_unread/{{ entry.id }}" method="post">
                            <button type="submit" class="btn btn-secondary{% if entry.is_unread %} btn-success{% endif %}">Mark as Unread</button>
                        </form>
                        <form action="/toggle_starred/{{ entry.id }}" method="post">
                            <button type="submit" class="btn btn-secondary{% if entry.is_starred %} btn-success{% endif %}">Star</button>
                        </form>
                        <form action="/toggle_read_later/{{ entry.id }}" method="post">
                            <button type="submit" class="btn btn-secondary{% if entry.is_read_later %} btn-success{% endif %}">Read Later</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
    
    <!-- Material-UI JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='rss.js') }}"></script>
</body>
</html>
